<IfModule mod_fastcgi.c>
  AddHandler php{{ php_default_version_clean }}-fcgi .php

  {% if php70 == true %}
    Action php70-fcgi /php70-fcgi
    Alias /php70-fcgi /usr/lib/cgi-bin/php70-fcgi
    FastCgiExternalServer /usr/lib/cgi-bin/php70-fcgi -socket /var/run/php/php7.0-fpm.sock -idle-timeout 250 -pass-header Authorization
  {% endif %}

  {% if php71 == true %}
    Action php71-fcgi /php71-fcgi
    Alias /php71-fcgi /usr/lib/cgi-bin/php71-fcgi
    FastCgiExternalServer /usr/lib/cgi-bin/php71-fcgi -socket /var/run/php/php7.1-fpm.sock -idle-timeout 250 -pass-header Authorization
  {% endif %}

  {% if php72 == true %}
    Action php72-fcgi /php72-fcgi
    Alias /php72-fcgi /usr/lib/cgi-bin/php72-fcgi
    FastCgiExternalServer /usr/lib/cgi-bin/php72-fcgi -socket /var/run/php/php7.2-fpm.sock -idle-timeout 250 -pass-header Authorization
  {% endif %}

  <Directory /usr/lib/cgi-bin>
    Require all granted
  </Directory>
</IfModule>
