<VirtualHost *:{{ dashboard_vhost.port }}>
  ServerAdmin webmaster@localhost

  DocumentRoot {{ dashboard_vhost.docroot }}
  ErrorLog ${APACHE_LOG_DIR}/error.log
  CustomLog ${APACHE_LOG_DIR}/access.log combined

  <Directory {{ dashboard_vhost.docroot }}>
    AllowOverride All
    Require all granted
    Options +Indexes
  </Directory>
  <Directory "{{ dashboard_vhost.docroot }}/*">
    Options -Indexes
  </Directory>

</VirtualHost>
